body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center; /* Centraliza o conteúdo de texto */
}

.image-container img {
    width: 35% !important; /* Força o aumento do tamanho */
    height: auto !important;
}   

.login-container {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    position: relative;
    margin-top: 20px;
}

.login-container {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    position: relative;
    margin-top: 20px;
}

.login-container h2 {
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: bold;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.login-container input[type="checkbox"] {
    margin-right: 8px;
}

.login-container input[type="submit"] {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.login-container input[type="submit"]:hover {
    background-color: #45a049;
}

.footer {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    color: #777;
}

.footer a {
    color: #007bff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

/* Estilo do Pop-up */
.popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    z-index: 1000;
}

.popup h2 {
    margin: 0 0 15px;
}

.popup button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
}

.popup button:hover {
    background-color: #e31e0f;
}

.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dashboard-container h1 {
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: bold;
}

.image-container img {
    width: 150px; /* Ajuste o tamanho conforme necessário */
    height: auto;
    margin-top: 20px;
}
